<html>
    <!--html의 주석은이렇게 다는것이다!-->
    <title>
        <head>login</head>
    </title>
    <dody>
        <form method="post" action="login">
            id
            <input
                type="=text" name="id"/>
            <br/>
            pw
            <input
                type="password" name="pw" id="pw"/>
            <br/>
            <input
                type="submit" value="login"/>
                <a href="login.html"></a>
        </input>
        </form>
    </dody>
</html>